.subheader-area {
  display: flex;
  border: 1px solid #cdd1d2;
  padding: 5px 0;

  .hover-tile-outer {
    height: 75px;
    margin: 0 2px;
    width: 40%;

    .hover-tile-container {
      height: 75px;

      h3 {
        padding-top: 20px;
        font-size: 22px;
      }
    }
  }

  .hover-tile-outer:last-of-type {
    margin-right: 4px;
  }
}

.before-header {
  background-color: #fafafa;
  color: black;
}

.before-header .wrap{
  padding: 4px 22px;
}

.header-conact-left {
  float: left;
  font-size: 16px;

  .fa-fax {
    margin-left: 25px;
  }
}

.header-social-right {
  float: right;
  font-size: 16px;

  #email-icon-desktop {
    float: left;
  }

  a > * {
    color: black;
  }

  span.fa.fa-envelope,
  span.fa.fa-star,
  span.fa.fa.shopping-cart {
    color: #F0592A;
  }

}

.header-social-right > a:hover {
  background-color: transparent !important;
}

.header-cart-items {
  float: right;
  margin-left: 15px;
}

a#festi-cart.festi-cart.festi-cart-customize.festi-cart-shortcode.festi-cart-hover.woocart-show {
  position: relative;
  background-color: transparent;
  top: -7px;
}

body div.festi-cart-products-content table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-img a.festi-cart-img img {
  max-width: 100% !important;
  width: 100px !important;
}

span.fa.fa-cart-plus {
  margin-left: 20px;
}

.cart-items-red {
  color: #C20000;
}

.site-header .wrap {
  padding: 20px 22px 20px;
}

.site-header .widget-area {
  max-height: 35px;
}

.subheader-text-area {
  text-align: center;
  width: 350px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 12px 0;
  font-size: 16px;
  max-height: 100px;
  font-family: "Playfair Display", serif;

  img {
    max-width: 227px;
    max-height: 75px;
  }
}

.genesis-nav-menu a {
  padding: 13px 18px;
  padding-left: 0;
}

.genesis-nav-menu a:hover {
  color: #C20000;
}

.genesis-nav-menu .menu-item {
  font-size: 13px;
}

.genesis-nav-menu .sub-menu {
  background: none;
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -ms-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .0s ease-in-out;
  background: #fafafa;
  width: 250px;
  text-wrap: normal;
}

.genesis-nav-menu .sub-menu a {
  text-align: left;
  font-size: 13px;
  border-bottom: none;
}

.genesis-nav-menu .sub-menu .menu-item:hover {
  background-color: #C20000;
  width: 100%;

  a {
    color: white !important;
  }

}

.active-primary-menu {
  a {
    color: #C20000 !important;
    font-weight: 700 !important;
  }

  ul.sub-menu {
    a {
      color: #20221d !important;
      font-weight: normal !important;
    }
  }
}

.active-primary-menu-sale {
  a {
    color: #ffffff !important;
    font-weight: 700 !important;
  }

  ul.sub-menu {
    a {
      color: #ffffff !important;
      font-weight: normal !important;
    }
  }
}

.sale-highlight {
  background-color: #C20000;
}

.sale-highlight > * {
  color: white !important;
}

.sale-highlight > a {
  padding-left: 15px;
}

.sale-highlight ul.sub-menu {
  background-color: #C20000;
}

.sale-highlight > ul.sub-menu > * > * {
  color: white !important;
}

li#primary-search-box.nav-custom-search.menu-item {
  float: right;
  margin-top: 4px;
}

.nav-custom-search > form {
  display: flex;
  margin-left: 5px;

  input[type="submit"] {
    background-color: #48AB44;
    padding: 0 10px;
    height: 32px;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    border-radius: 0;

  }
  input[type="search"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 0px;
    font-family: 'Playfair Display', serif;
  }
}

p.leadtext-para {
  margin-bottom: 0;
  max-width: 210px;
}

.hover-tile-outer {
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $medium-screen: em(640) !default;
  $hover-tile-height: 8.5em;
  $base-spacing: 1.5em;

  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
  background-position: top;
  background-size: cover;
  background-color: white;
  //border: 1px solid $base-border-color;
  cursor: pointer;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  margin: 0 7px;
  text-align: center;

  @include media($medium-screen) {
    //width: 40%;
  }

  h3 {
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, 0.2s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: $base-spacing;
  }

  .hover-tile-hidden {
    background: transparentize(#000, 0.4);
    border: 2px solid #555555;

    p {
      color: transparentize(#fff, 0.3);
      line-height: $base-line-height;
    }

    h4 {
      margin: 0 0 0.5em 0;
    }
  }
}

.breadcrumb {
  color: #777777;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
  font-size: .92em;
  margin-top: 1em;
  margin-bottom: 0;

  a {
    color: #777;
  }
}

@media only screen and (min-width: 699px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  span.desktop-only.inline-block-display {
    display: inline-block !important;
  }
}

@media only screen and (max-width: 699px) {

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none !important;
  }

  aside.before-header {
    div.wrap {
      padding: 10px 10px;
    }
  }

  .header-conact-left,
  .header-social-right {
    font-size: 14px;
  }

  .header-social-right {
    float: left;
    font-size: 14px;

    #email-mobile-float-left,
    #phone-mobile-float-left {
      float: left !important;
    }

    div.modal.mobile-only {
      display: flex;

      a {

        span.fa.fa-shopping-cart {
          margin-right: 13px;
          color: #F0592A;
        }
      }
    }
  }

  .header-social-right .fa {
    font-size: 1.4em;
    margin-left: 12px;
  }

  span.fa.fa-envelope {
    margin-left: 5px;
  }

  span.fa.fa-star {
    margin-left: 2px;
    margin-right: 2px;
  }

  span.fa-search {
    color: #F0592A;
  }

  span.fa.fa-fax {
    margin-left: 8px;
  }

  .before-header .wrap{
    padding: 4px 29px;
  }

  span.fa.fa-cart-plus {
    margin-right: 20px;
  }

  nav.nav-primary,
  .menu-toggle {
    background-color: #aaaaaa;
  }

  .nav-primary .current-menu-item > a, .nav-primary .genesis-nav-menu .menu-item a:hover {
    background-color: #ffffff;
    color: #C20000;
  }

  .site-header {
    .wrap {
      padding: 20px 5px 1px !important;
    }
  }

  .mobile-lead-text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
  }

  p.leadtext-para {
    margin-bottom: 0;
    max-width: 500px;
  }

  .subheader-area {
    flex-wrap: wrap;
    padding: 0px;
  }

  form.search-form {
    height: 50px;

    input[type=submit] {
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      -webkit-border-radius: 0 !important;
      border-radius: 0 !important;
      height: 50px;
    }
  }


  div.subheader-area.wrap {

    .hover-tile-outer {
      margin: 0;
      margin-left: 0;
      margin-right: 10px;
    }

    .hover-tile-outer:last-of-type {
      margin-right: 2px;
    }
  }

  .hover-tile-outer,
  .subheader-text-area {
    flex: 1 1 100% !important;
    margin: 10px;
  }

  .nav-primary .genesis-nav-menu .menu-item a {
    border-bottom: 0;
    font-size: 18px;
  }

  .sale-highlight  {
    background-color: #C20000 !important;
  }

  .sale-highlight > * {
    color: white !important;
  }

  .sale-highlight > a {
    padding-left: 15px;
    background-color: #C20000 !important;
  }

  .sale-highlight > ul.sub-menu {
    background-color: #C20000 !important;
  }

  .sale-highlight > ul.sub-menu > *,
  .sale-highlight > ul.sub-menu > * > * {
    color: white !important;
    background-color: #C20000 !important;
  }

  li#primary-search-box.nav-custom-search.menu-item {
    float: none;
    margin-top: 0;
  }

  .header-conact-left {
    float: left;
  }

  div.widget-area.header-widget-area {
    display: none;
  }

  .subheader-area {
    border-top: none;
  }

  .hover-tile-outer {
    margin: 0;
  }

  div.subheader-area.wrap {
    .hover-tile-outer {
      margin: 7px;
    }
    .hover-tile-outer:last-of-type {
      margin-right: 4px;
    }
  }


  //Modal-------------------------
  .modal {
    $base-border-color: #dcdcdc !default;
    $base-border-radius: 3px !default;
    $base-background-color: #fff !default;
    $base-font-size: 1em !default;
    $base-line-height: 1.5em !default;
    $action-color: #477dca !default;
    $dark-gray: #333 !default;
    $light-gray: #ddd !default;
    $medium-screen: 40em !default;
    $large-screen: 53.75em !default;
    $base-font-color: $dark-gray !default;
    $modal-padding: 3em;
    $modal-background: $base-background-color;
    $modal-close-color: $light-gray;
    $modal-image-height: 135px;
    $modal-image-width: $modal-image-height;
    $modal-trigger-image-width: 300px;

    float: right;
    margin-left: 10px;

    label {
      cursor: pointer;
      margin-bottom: 0;
    }

    label img {
      border-radius: $modal-trigger-image-width / 2;
      display: block;
      max-width: $modal-trigger-image-width;
    }

    .modal-state {
      display: none;
    }

    .modal-trigger {
      padding: 0;
    }

    .modal-fade-screen { // overlay
      @include position(fixed, 0);
      background-color: rgba(#000, 0.85);
      opacity: 0;
      padding-top: 0.6em;
      text-align: left;
      transition: opacity 0.25s ease;
      visibility: hidden;
      z-index: 99999999999;

      @include media($large-screen) {
        padding-top: 10em;
      }

      .modal-bg {
        @include position(absolute, 0);
        cursor: pointer;
      }
    }

    .modal-close {
      @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
      @include size(1.5em);
      background: $modal-background;
      cursor: pointer;
      top: 5px;
      right: 5px;

      &::after,
      &::before {
        @include position(absolute, 3px 3px 0 50%);
        @include size(0.15em 1.5em);
        background: $modal-close-color;
        content: "";
        display: block;
        margin: -3px 0 0 -1px;
        transform: rotate(45deg);
      }

      &:hover::after,
      &:hover::before {
        background: darken($modal-close-color, 10%);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }

    .modal-inner {
      background: $modal-background;
      border-radius: $base-border-radius;
      margin: auto;
      margin-top: 0;
      max-height: 95%;
      overflow: auto;
      padding: $modal-padding / 2;
      position: relative;
      transition: opacity 0.25s ease;
      width: 95%;

      @include media($medium-screen) {
        max-height: 70%;
        padding: $modal-padding;
        width: 60%;
      }

      @include media($large-screen) {
        width: 50%;
      }

      h1 {
        color: $base-font-color;
        text-align: left;
        text-transform: capitalize;
      }

      p {
        color: $base-font-color;
        line-height: $base-line-height;
      }

      .modal-intro {
        margin-bottom: 1em;
      }

      .modal-content {
        color: $base-font-color;

        @include media($medium-screen) {
          columns: 2 8em;
        }
      }

      a.cta {
        color: $base-background-color;
        display: inline-block;
        margin-right: 0.5em;
        margin-top: 1em;

        &:last-child {
          padding: 0 2em;
        }
      }
    }

    .modal-state:checked + .modal-fade-screen {
      opacity: 1;
      visibility: visible;
    }

    .modal-state:checked + .modal-fade-screen .modal-inner {
      top: 0.5em;
    }
  }

  .modal-open {
    overflow: hidden;
  }

  // Based on code by Kasper Mikiewicz

  // Modal Search form
  div.modal-inner {
    form.search-form {
      input[type=search] {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
        width: 70%;
        height: 50px;
        float: left;
      }
      input[type=submit] {
        background-color: #48AB44;
        font-size: 1.5em;
        border-radius: 0;
      }
    }
  }

}



