.subheader-area {
  display: flex;
  border: 1px solid #cdd1d2;
  padding: 5px 0;

  .hover-tile-outer {
    height: 75px;
    margin: 0 2px;
    width: 40%;

    .hover-tile-container {
      height: 75px;

      h3 {
        padding-top: 20px;
        font-size: 22px;
      }
    }
  }

  .hover-tile-outer:last-of-type {
    margin-right: 0px;
  }
}

.before-header {
  background-color: #cccccc;
}

.before-header .wrap{
  padding: 4px 22px;
}

.header-conact-left {
  float: left;
  font-size: 14px;
}

.header-social-right {
  float: right;
}

span.fa.fa-cart-plus {
  margin-left: 20px;
}

.site-header .wrap {
  padding: 20px 22px 20px;
}

.subheader-text-area {
  text-align: center;
  width: 350px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 16px;
  max-height: 100px;
}

.genesis-nav-menu a {
  padding: 13px 18px;
  padding-left: 0;
}

.genesis-nav-menu .menu-item {
  font-size: 13px;
}

.genesis-nav-menu .sub-menu {
  background: none;
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -ms-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  background: #aaaaaa;
  width: 200px;
  text-wrap: normal;
}

.genesis-nav-menu .sub-menu a {
  text-align: left;
  font-size: 11px;
  border-bottom: none;
}

.sale-highlight {
  background-color: #C20000;
}

.sale-highlight > * {
  color: white !important;
}

.sale-highlight > a {
  padding-left: 15px;
}

.sale-highlight ul.sub-menu {
  background-color: #C20000;
}

.sale-highlight > ul.sub-menu > * > * {
  color: white !important;
}

li#primary-search-box.nav-custom-search.menu-item {
  float: right;
  margin-top: 5px;
}

.nav-custom-search > form {
  display: flex;
  margin-left: 5px;

  input[type="submit"] {
    background-color: #aaaaaa;
    padding: 0 10px;
    height: 2.4em;
    margin-bottom: 0px;
    font-family: 'Playfair Display', serif;
  }
  input[type="search"] {
    margin-bottom: 0px;
    font-family: 'Playfair Display', serif;
  }
}

.hover-tile-outer {
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $medium-screen: em(640) !default;
  $hover-tile-height: 8.5em;
  $base-spacing: 1.5em;

  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
  background-position: top;
  background-size: cover;
  background-color: beige;
  //border: 1px solid $base-border-color;
  cursor: pointer;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  margin: 0 7px;
  text-align: center;

  @include media($medium-screen) {
    //width: 40%;
  }

  h3 {
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, 0.2s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: $base-spacing;
  }

  .hover-tile-hidden {
    background: transparentize(#000, 0.25);
    border: 2px solid #555555;

    p {
      color: transparentize(#fff, 0.3);
      line-height: $base-line-height;
    }

    h4 {
      margin: 0 0 0.5em 0;
    }
  }
}

@media only screen and (max-width: 699px) {

  nav.nav-primary,
  .menu-toggle {
    background-color: #aaaaaa;
  }

  .subheader-area {
    flex-wrap: wrap;
    padding: 0px;
  }

  div.subheader-area.wrap {

    .hover-tile-outer {
      margin: 0;
      margin-left: 7px;
      margin-right: 7px;
    }

    .hover-tile-outer:last-of-type {
      margin-right: 0px;
    }
  }

  .hover-tile-outer,
  .subheader-text-area {
    flex: 1 1 100% !important;
    margin: 10px;
  }

  .nav-primary .genesis-nav-menu .menu-item a {
    border-bottom: 0;
  }

  .sale-highlight  {
    background-color: #C20000 !important;
  }

  .sale-highlight > * {
    color: white !important;
  }

  .sale-highlight > a {
    padding-left: 15px;
    background-color: #C20000 !important;
  }

  .sale-highlight > ul.sub-menu {
    background-color: #C20000 !important;
  }

  .sale-highlight > ul.sub-menu > *,
  .sale-highlight > ul.sub-menu > * > * {
    color: white !important;
    background-color: #C20000 !important;
  }

  li#primary-search-box.nav-custom-search.menu-item {
    float: none;
    margin-top: 0;
  }

}


@media screen and (max-width: 699px) {

  .header-conact-left {
    float: left;
    font-size: 12px;
  }

  .subheader-area {
    border-top: none;
  }

  .hover-tile-outer {
    margin: 0;
  }

  div.subheader-area.wrap {
    .hover-tile-outer {
      margin: 7px;
    }
    .hover-tile-outer:last-of-type {
      margin-right: 7px;
    }
  }

}
