.subheader-area {
  display: flex;
  border: 1px solid #cdd1d2;
  padding: 5px 0;

  .hover-tile-outer {
    height: 75px;
    margin: 0 2px;
    width: 40%;

    .hover-tile-container {
      height: 75px;

      h3 {
        padding-top: 20px;
        font-size: 22px;
      }
    }
  }

  .hover-tile-outer:last-of-type {
    margin-right: 4px;
  }
}

.before-header {
  background-color: #efefef;
  color: black;
}

.before-header .wrap{
  padding: 4px 22px;
}

.header-conact-left {
  float: left;
  font-size: 16px;

  .fa-fax {
    margin-left: 25px;
  }
}

.header-social-right {
  float: right;
  font-size: 16px;

  a > * {
    color: black;
  }

}

.header-cart-items {
  float: right;
  margin-left: 15px;
}

span.fa.fa-cart-plus {
  margin-left: 20px;
}

.cart-items-red {
  color: #C20000;
}

.site-header .wrap {
  padding: 20px 22px 20px;
}

.subheader-text-area {
  text-align: center;
  width: 350px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 16px;
  max-height: 100px;
}

.genesis-nav-menu a {
  padding: 13px 18px;
  padding-left: 0;
}

.genesis-nav-menu a:hover {
  color: #C20000;
}

.genesis-nav-menu .menu-item {
  font-size: 13px;
}

.genesis-nav-menu .sub-menu {
  background: none;
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -ms-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .0s ease-in-out;
  background: #efefef;
  width: 250px;
  text-wrap: normal;
}

.genesis-nav-menu .sub-menu a {
  text-align: left;
  font-size: 13px;
  border-bottom: none;
}

.genesis-nav-menu .sub-menu .menu-item:hover {
  background-color: #C20000;
  width: 100%;

  a {
    color: white !important;
  }

}

.active-primary-menu {
  a {
    color: #C20000 !important;
    font-weight: 700 !important;
  }

  ul.sub-menu {
    a {
      color: #20221d !important;
      font-weight: normal !important;
    }
  }
}

.sale-highlight {
  background-color: #C20000;
}

.sale-highlight > * {
  color: white !important;
}

.sale-highlight > a {
  padding-left: 15px;
}

.sale-highlight ul.sub-menu {
  background-color: #C20000;
}

.sale-highlight > ul.sub-menu > * > * {
  color: white !important;
}

li#primary-search-box.nav-custom-search.menu-item {
  float: right;
  margin-top: 5px;
}

.nav-custom-search > form {
  display: flex;
  margin-left: 5px;

  input[type="submit"] {
    background-color: #aaaaaa;
    padding: 0 10px;
    height: 2.4em;
    margin-bottom: 0px;
    font-family: 'Playfair Display', serif;
  }
  input[type="search"] {
    margin-bottom: 0px;
    font-family: 'Playfair Display', serif;
  }
}

.hover-tile-outer {
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $medium-screen: em(640) !default;
  $hover-tile-height: 8.5em;
  $base-spacing: 1.5em;

  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
  background-position: top;
  background-size: cover;
  background-color: white;
  //border: 1px solid $base-border-color;
  cursor: pointer;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  margin: 0 7px;
  text-align: center;

  @include media($medium-screen) {
    //width: 40%;
  }

  h3 {
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, 0.2s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: $base-spacing;
  }

  .hover-tile-hidden {
    background: transparentize(#000, 0.25);
    border: 2px solid #555555;

    p {
      color: transparentize(#fff, 0.3);
      line-height: $base-line-height;
    }

    h4 {
      margin: 0 0 0.5em 0;
    }
  }
}

.breadcrumb {
  color: #777777;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
  font-size: .92em;
  margin-top: 1em;
  margin-bottom: 0;

  a {
    color: #777;
  }
}

@media only screen and (min-width: 699px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  span.desktop-only.inline-block-display {
    display: inline-block !important;
  }
}

@media only screen and (max-width: 699px) {

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none !important;
  }

  .header-conact-left,
  .header-social-right {
    font-size: 12px;
  }

  span.fa.fa-fax {
    margin-left: 8px;
  }

  .before-header .wrap{
    padding: 4px 29px;
  }

  span.fa.fa-cart-plus {
    margin-right: 20px;
  }

  nav.nav-primary,
  .menu-toggle {
    background-color: #aaaaaa;
  }

  .site-header {
    .wrap {
      padding: 20px 5px 1px !important;
    }
  }

  .mobile-lead-text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
  }

  .subheader-area {
    flex-wrap: wrap;
    padding: 0px;
  }

  div.subheader-area.wrap {

    .hover-tile-outer {
      margin: 0;
      margin-left: 0;
      margin-right: 10px;
    }

    .hover-tile-outer:last-of-type {
      margin-right: 2px;
    }
  }

  .hover-tile-outer,
  .subheader-text-area {
    flex: 1 1 100% !important;
    margin: 10px;
  }

  .nav-primary .genesis-nav-menu .menu-item a {
    border-bottom: 0;
    font-size: 18px;
  }

  .sale-highlight  {
    background-color: #C20000 !important;
  }

  .sale-highlight > * {
    color: white !important;
  }

  .sale-highlight > a {
    padding-left: 15px;
    background-color: #C20000 !important;
  }

  .sale-highlight > ul.sub-menu {
    background-color: #C20000 !important;
  }

  .sale-highlight > ul.sub-menu > *,
  .sale-highlight > ul.sub-menu > * > * {
    color: white !important;
    background-color: #C20000 !important;
  }

  li#primary-search-box.nav-custom-search.menu-item {
    float: none;
    margin-top: 0;
  }

  .header-conact-left {
    float: left;
    font-size: 12px;
  }

  div.widget-area.header-widget-area {
    display: none;
  }

  .subheader-area {
    border-top: none;
  }

  .hover-tile-outer {
    margin: 0;
  }

  div.subheader-area.wrap {
    .hover-tile-outer {
      margin: 7px;
    }
    .hover-tile-outer:last-of-type {
      margin-right: 4px;
    }
  }

}
