div.woocommerce-message::before {
  display: none !important;
}

.woocommerce div.woocommerce-message {
  border-color: #48AB44;
  padding-left: 10px !important;
}

p.cart-empty {
  font-size: 1.2em;
  font-family: "Playfair Display", serif;
}

a.button.wc-backward {
  font-size: 1.2em !important;
  font-family: "Playfair Display", serif !important;
}

.woocommerce table.shop_table {
  font-size: 1.2em;
}

th.product-remove {
  width: 45px;
}

.woocommerce table.shop_table th.product-name {
  width: 480px;
}

.woocommerce table.shop_table th.product-price {
  width: 150px;
}

.woocommerce table.shop_table th.product-quantity {
  width: 100px;
}

.woocommerce table.shop_table th.product-subtotal,
.woocommerce table.shop_table td.product-subtotal {
  width: 150px;
  text-align: right;
  padding-right: 20px;
}

.woocommerce-cart table.cart img {
  width: 90px !important;
}

tr.cart-item {
  font-size: 1.2em !important;
}

input#coupon_code.input-text {
  width: 150px;
  height: 40px;
  border-radius: 0;
}

.cart-wishlist-compare-section {
  float: left;
  max-width: 50%;

  button {
    font-size: 15px !important;
    text-transform: none !important;
    background-color: #20221d !important;
    font-family: "Playfair Display", serif;
    border-radius: 0 !important;
  }

  button:hover {
    background-color: #fff !important;
    color: #20221d !important;
    border: 1px solid #20221d;

  }
}

div.coupon {
  input.button {
    background-color: #48AB44;
  }
}

body.woocommerce-page input.button[name="update_cart"] {
  background-color: #F0592A;
}

div.cart_totals {

  h2 {
    margin-left: 79px;
  }

  table.shop_table {
    width: 85%;
    float: right;
  }

  div.wc-proceed-to-checkout {
    width: 85%;
    float: right;

  }
}

tr.cart-subtotal,
tr.shipping,
tr.order-total {
  th {
    text-align: left !important;
    border-bottom: 1px solid #ddd;
  }
}

a.checkout-button.button.alt.wc-forward {
  background-color: #F0592A;
}


/**
 * The Cart Popup
 */

td.festi-cart-product-delete {
  width: 20px;
}

body div.festi-cart-pop-up-products-content table.festi-cart-list tr.festi-cart-item td.festi-cart-product-img a.festi-cart-img img {
  min-width: 100%;
  width: 250px;
  height: 100px;
}

@media only screen and (max-width: 750px) {

  tr.cart_item {
    td.product-quantity {
      min-height: 50px;
      padding-right: 10px !important;
      div.quantity {
        input.input-text.qty.text {
          float: right;
        }
      }
    }
  }

  .cart-wishlist-compare-section {
    max-width: 100%;
    margin-bottom: 20px;
  }

  input#coupon_code.input-text {
    width: 175px;
  }

  input#place_order.button.alt {
    width: 95%;
    padding: 20px;
    margin: 10px;
  }
}

@media only screen and (max-width: 699px) {

  .woocommerce table.shop_table td.product-subtotal {
    width: 100%;
    padding-right: 10px;
  }

  input#coupon_code.input-text {
    width: 140px;
  }

  input#place_order.button.alt {
    //margin-bottom: 0;
    width: 95% !important;
    padding: 20px;
    margin: 10px;

  }

  div.cart-wishlist-compare-section {
    text-align: right;
  }

}