.wl-list-pop {
  border-radius: 0;
}

a.wl-add-to-single {
  font-size: 14px;
  text-transform: uppercase;
  color: #F0592A;
}

table.shop_table.cart.wl-table.manage {

  thead {

    tr {
      th.product-quantity.ctr + th {
        width: 160px;
      }
    }
  }

  tbody {

    tr.cart_table_item {

      td.product-remove {

        a.remove.wlconfirm {
          display: none !important;
        }
      }
    }
  }
}

#wl-wrapper .wl-actions-table select {
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 100%;
  display: block;
  height: 36px;
  padding: 0 10px;
  background: #fff;
  overflow: hidden;
  line-height: 22px;
  font-size: 1em;
  -webkit-border-radius: 0;
  border-radius: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  border: 1px solid #D5D5D5;
  background-image: url(images/select-arrow.png);
  background-position: 96% 50%;
  background-repeat: no-repeat;
}

#wl-wrapper .wl-actions-table td {
  vertical-align: top !important;
}

#wl-wrapper .wl-table .check-column, #wl-wrapper .wl-table .product-remove {
  text-align: center;
  width: 40px;
}

button.button.small.wl-but.wl-add-to.btn-apply {
  border-radius: 0;
  background: white;
  border: 1px solid #ccc;
}

button.button.small.wl-but.wl-add-to.btn-apply:hover {
  background-color: #F0592A;
}

