//Main Layouts


.home .site-inner {
  padding-top: 10px;
}

.site-inner {
  clear: both;
  padding: 10px 0;
}

.hover-tile-outer {
  margin: 0;
  height: 13em;
}

.top-main-page-container {
  @include outer-container;
  $mobile: new-breakpoint(max-width 700px 4);
  margin-top: 10px;
  min-width: 100%;

  .main-page-col-third {
    @include span-columns(4);

    @include media($mobile) {
      @include span-columns(4);
      margin-top: 10px;
    }

    img {
      width: 100%;
    }
  }

  .main-page-col-two-thirds {
    @include outer-container;
    @include span-columns(8);

    @include media($mobile) {
      @include span-columns(4);
      margin-top: 10px;
    }
  }

  .main-page-col-quarter {
    @include span-columns(3);

    @include media($mobile) {
      @include span-columns(4);
      margin-top: 10px;
    }
  }

  .top-side-by-side-section {
    display: flex;

    .main-page-col-half {
      @include span-columns(6);

      @include media($mobile) {
        @include span-columns(6);
        margin-top: 10px;
      }
    }
  }


  .main-page-container-heading {
    text-align: center;

  }

}


//Main Page Top Section

#mainpage-top-left,
#mainpage-top-right,
#mainpage-top-center {
  display: flex;
  flex-direction: column;
  height: 400px;


  .hover-tile-outer {
    width: 100%;
    flex-grow: 1;

    h3 {
      font-size: 24px;
    }
  }

  .mainpage-hover-tile-top {
    margin-bottom: 10px;

    .hover-tile-container {
      height: 195px;
    }
  }
}

#mainpage-top-center {
  width: 100%;
  flex-grow: 1;

  .hover-tile-container {
    height: 100%;
  }
}

div.hover-tile-outer.main-page-col-half.left {
  margin: 0;
  margin-right: 2.5px;
  flex-grow: 1;

}

div.hover-tile-outer.main-page-col-half.right {
  margin: 0;
  margin-left: 2.5px;
  flex-grow: 1;
}

#mainpage-top-right {

  .top-side-by-side-section {
    margin-bottom: 10px;
  }

}

.hover-tile-outer .hover-tile-hidden {
  border: none;
}

.hover-tile-outer .hover-tile-container {
  height: 13em;
  overflow: hidden;
}

.hover-tile-outer .hover-tile {
  padding: 0;
}

h3.yellow-text {
  color: #fad532;
}

//Top Section Titles

#top-left-title,
#bottom-right-title{
  padding-top: 35%;
  //hover: 25%
}

#top-quarter-left-left-title,
#top-quarter-left-right-title,
#top-quarter-right-left-title,
#top-quarter-right-right-title {
  padding-top: 75%;
  //hover: 25%
}

#top-center-title {
  padding-top: 92%;
  //hover: 45%
}


//Border Sections

.top-border-homepage-sections {
  border-top: 5px double #dddddd;
  margin-top: 40px;
  padding-top: 40px;
  position: relative;



  .main-page-container-heading {
    top: -20px;
    position: absolute;
    background: white;
    right: 35%;
    padding: 0 10px;
  }

}


//Main Page Trade Discount Section

#trade-discount-section {
  border-top: 1px solid #dddddd;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.trade-discount {

  text-align: right;

  h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
  }
}

.discount-section {
  color: #ffffff;
  text-align: center;
  padding: 5px;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100px;

  h4 {
    color: #ffffff;
  }

  .fa {
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 100%;
  }

  p {
    font-size: 13px;
  }
}

.discount-section:hover {
  font-size: 14px;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

//Main Page Ornamental Stone Products Section

.category-images-homepage {
  width: 300px;
  height: 300px;
}

#shipping-section {
  border-top: 1px solid #dddddd;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shipping-section {
  color: #ffffff;
  background: url('http://akgoods.finchproservices.com/wp-content/uploads/blurred1.jpeg') no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 5px;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  background-position: center;
  min-height: 100px;

  h4 {
    color: #ffffff;
  }

  .fa {
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 100%;
  }

  p {
    font-size: 13px;
  }
}

.shipping-section:hover {
  font-size: 14px;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}


//Main Page Home Design and Decor Section




//Main Page Featured Project Galleries Section




//Main Page Blog Post and Testimonials Section

#blog-post-testimonials-section {
  padding-top: 20px;
}

.featuredpost > .widget-wrap {
  display: flex;
  flex-wrap: wrap;

  .has-post-thumbnail {
    flex: 1 1 45%;
  }
}


img.entry-image.attachment-post {
  border-radius: 100%;
}


div#home-page-featured-posts {
  padding-top: 20px;
}

blockquote.easy-testimonial {
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 699px) {
  .hover-tile-outer {
    width: 100%;
  }
}