
.bottom-widgets {
  margin: 10px 0;
}

.bottom-widgets .widget-area {
  width: 22%;
  font-family: "Playfair Display", serif;
}

.bottom-widgets ul li {
  margin: 0;
}

.site-footer {
  background-color: #aaaaaa;
  color: #fff;
}

.footer-widgets {
  padding: 25px;
  background-color: #F4F4F4;
}

.footer-social-icons {
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  background-color: #eaecec;

  .footer-follow-us {
    font-weight: 700;
    color: #aaaaaa;
  }

  .fa {
    color: #aaaaaa;
    margin: 0 10px;
    font-size: 26px;
  }

  .fa:hover {
    color: #777777;
    margin: 0 10px;
    font-size: 26px;
  }
}

.footer-widgets {
  font-size: 15px;
}

.footer-widgets li {
  border-bottom: 0;
  margin-bottom: 0;
  font-size: 15px;
}

h4.widgettitle.widget-title {
  margin: 0;
}

.footer-widgets .widget-tile {
  margin-bottom: 0;
}

div.footer-widgets-1,
div.footer-widgets-2,
div.footer-widgets-3 {

  section.widget.widget_nav_menu {

    margin-top: 0;
    margin-bottom: 0;

    div.widget-wrap {

      h4.widgettitle.widget-title {
        background-color: #F4F4F4;
        border: none;
      }

      div {

        ul.menu {

          li.menu-item {
            border: none !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            border-bottom: none !important;
            //text-transform: lowercase !important;
            //font-family: "Lato", sans-serif !important;
          }

        }

      }
    }
  }
}

div#footer-left-half {
  max-width: 55%;
  width: 55%;
  height: 200px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  #bottom-widget-1,
  #bottom-widget-2,
  #bottom-widget-3 {
    //max-width: 30%;
    //float: left;
    //margin: 0;
    flex: 1;

    section.widget {
      margin-top: 0px;

      div.widget-wrap {

        h4 {
          padding: 0 !important;
          font-size: 16px !important;
          border-bottom: none;
          color: black;
          background-color: transparent !important;
        }

        div {
          ul {
            margin-left: 0;

            li.menu-item {
              border: none !important;
              padding-top: 0 !important;
              padding-bottom: 0 !important;
              border-bottom: none !important;
              text-transform: none !important;
              //font-family: "Lato", sans-serif !important;
            }
          }
        }
      }
    }
  }

  #bottom-widget-3 {
    flex-grow: 1.2;
  }
}


#contact-us-footer {
  a {

    h4 {
      font-size: 16px !important;
      margin-bottom: 0;
      font-family: 'Source Serif Pro', serif;
      letter-spacing: inherit;
    }
  }
}


div#footer-right-half {
  max-width: 45%;
  width: 45%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  #bottom-widget-4,
  #bottom-widget-5 {
    max-width: 45%;
    //float: left;
    //margin: 0;
    flex: 1;
  }

  section.widget {
    margin-top: 0px;

    div.widget-wrap {

      h4 {
        border-bottom: none;
        letter-spacing: inherit;
      }

    }
  }

}

@media only screen and (max-width: 699px) {

  .footer-social-icons .fa {
    font-size: 15px !important;
  }

  .footer-widgets-1, .footer-widgets-2, .footer-widgets-3, .footer-widgets-4, .bottom-widgets .widget-area {
    float: left;
    margin: 0 10px 20px;
    width: 40%;
  }

  div#footer-left-half,
  div#footer-right-half {
    max-width: 100%;
    width: 100%;
    height: auto;

    #bottom-widget-1,
    #bottom-widget-2,
    #bottom-widget-3 {
      max-width: 100%;
      flex: 1 1 40%;
    }
  }
}

#scroll-to-top-button-chevron,
#scroll-to-bottom-button-chevron {
  background: #fff;
  padding: 10px 2px;
  color: black;
  opacity: .75;
}
