
//Category and Single Product Sidebar Section

.start_sorting_container {
  min-width: 100%;
  height: 37px;
  text-align: right;
  float: right;
  margin: 10px 0;
  padding: 10px;
  background-color: #EEEDED;
  border: 1px solid #cccccc;
}

.woocommerce .woocommerce-ordering select {
  font-size: 1em;
}

.shop-sidebar {
  max-width: 200px;
  float: left;
}

.gridlist-toggle {
  display: initial !important;
  margin-left: 40px !important;
}

section.widget.woocommerce.widget_product_categories {
  .widget-wrap {

    h4.widgettitle.widget-title {
      font-size: 15px;
      letter-spacing: 0;
      padding: 5px 0;
    }

    ul.product-categories {
      font-size: 16px;
      letter-spacing: 0;

      li.cat-item {
        border-bottom: 1px solid #cccccc;
        padding: 5px 0;
      }

    }
  }
}

section.widget.widget_nav_menu {

  margin-top: 30px;

  .widget-wrap {

    h4.widgettitle.widget-title {
    font-size: 15px;
    letter-spacing: 0;
    padding: 5px 0;
    }

    div.menu-useful-links-container {

      ul#menu-useful-links {
        font-size: 16px;
        letter-spacing: 0;

        li.menu-item {
          padding: 5px 0;
          border-bottom: 1px solid #cccccc;
        }


      }
    }
  }
}

ul.children {
  display: none;
}

li.cat-item {

  span.count {
    display: none;
  }
}

mark.count {
  display: none;
}





//Category Hero Top Section

.category-header {
  text-align: center;
}

.category-header-name {
  margin: 20px 0;
}

.category-header-description {

}

.category-hero-outer {
  max-width: 900px;
  float: right;
  width: 100%;
}

.category-hero {
  max-width: 600px;
  float: left;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.category-description-left {
  max-width: 175px;
  background-color: #ffffff;
  padding: 20px 10px;
  font-weight: 400;
  opacity: .85;
  height: 100%;
  position: relative;
}

.category-description-button {
  width: 150px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  background-color: #4c4034;
  opacity: 1;
  border-radius: 0;
  position: absolute;
  bottom: 10px;
  padding: 10px;
  margin: 20px auto;
}

.category-description-button:hover {
  background-color: #251d19;
  opacity: 1;
}

.category-hero-view-all {
  max-width: 300px;
  float: right;
  height: 245px;
  background-color: #4c4034;
  width: 290px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.category-hero-view-all:hover {
  background-color: #251d19;
}

.category-hero-sale {
  max-width: 300px;
  float: right;
  height: 245px;
  background-color: #C20000;
  width: 290px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.category-hero-sale:hover {
  background-color: #E70000;
}

.category-hero-right-titles {
  color: white;
  font-size: 24px;
}


//Products Loop

body.woocommerce-page ul.products {
  float: right;
  max-width: 900px;
  clear: inherit;
}

p.woocommerce-result-count {
  float: left;
  clear: both;
}

body.woocommerce-page ul.products li.product {
  width: 30.5%;
}

body.woocommerce-page ul.products li.product a img {
  height: 200px;
}

//Product Images

body.woocommerce-page ul.products li.product a img {
  border: none;
}

body.woocommerce-page ul.products {
  border-bottom: none;
}

a.button-details.button {
  display: none;
}

//Description After Product Loop

.description_after_product_loop {
  clear: both;
  text-align: center;
  border-bottom: 1px solid #d8dbdc;
  padding-bottom: 20px;
}


ul.page-numbers {
  width: 100%;
}

.page-numbers {
  width: 30px;
  text-align: center;
}


@media only screen and (max-width: 1150px) {

  .shop-sidebar {
    display: none;
  }

  .category-hero {
    float: none;
    margin: 0 auto 20px;
  }

  body.woocommerce-page ul.products {
    float: none;
    max-width: 900px;
    clear: inherit;
    margin: auto;
  }

}


@media only screen and (max-width: 1025px) {

  .category-hero-outer {
    float: none;
    margin: 0 auto;

    .category-hero {
      float: left;
    }

  }

}


@media only screen and (max-width: 800px) {

  .category-hero-outer {

    .category-hero {
      max-width: 100%;
    }
  }

  div.category-hero-right {
    margin: 0 20px;
  }

  div.category-hero-view-all {
    float: left;
    margin-bottom: 20px;
  }

  div.category-hero-sale {
    float: right;
    margin-top: 0;
  }

  ul.products {
    margin: 0 20px;
  }

  body.woocommerce-page ul.products li.product {
    width: 45%;
  }

}

@media only screen and (max-width: 699px) {

  div.category-hero-view-all,
  div.category-hero-sale {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
  }

  .category-hero-outer {
    margin-bottom: 10px;
  }

  body.woocommerce-page ul.products li.product {
    width: 300px;
  }
}