
//Category and Single Product Sidebar Section

.shop-sidebar {
  max-width: 200px;
  float: left;
}

section.widget.woocommerce.widget_product_categories {
  .widget-wrap {

    h4.widgettitle.widget-title {
      font-size: 15px;
      letter-spacing: 0;
      padding: 10px;
      background-color: #EEEDED;
      border: 1px solid #cccccc;
    }

    ul.product-categories {
      font-size: 13px;
      letter-spacing: 0;

      li.cat-item {
        padding: 10px;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-top: 1px dotted #cccccc;
        border-bottom: 1px dotted #cccccc;
      }

      li.cat-item:last-of-type {
        border-bottom: 1px solid #cccccc;
      }
    }
  }
}

section.widget.widget_nav_menu {

  margin-top: 30px;

  .widget-wrap {

    h4.widgettitle.widget-title {
    font-size: 15px;
    letter-spacing: 0;
    padding: 10px;
    background-color: #EEEDED;
    border: 1px solid #cccccc;
    }

    div.menu-useful-links-container {

      ul#menu-useful-links {
        font-size: 13px;
        letter-spacing: 0;

        li.menu-item {
          padding: 10px;
          border-left: 1px solid #cccccc;
          border-right: 1px solid #cccccc;
          border-top: 1px dotted #cccccc;
          border-bottom: 1px dotted #cccccc;
        }

        li.menu-item:last-of-type {
          border-bottom: 1px solid #cccccc;
        }
      }
    }
  }
}

ul.children {
  display: none;
}





//Category Hero Top Section

.category-header {
  text-align: center;
}

.category-header-name {
  margin-bottom: 0;
}

.category-header-description {

}

.category-hero {
  max-width: 900px;
  float: right;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.category-description-left {
  max-width: 175px;
  background-color: #ffffff;
  padding: 20px 10px;
  font-weight: 400;
  opacity: .85;
  height: 100%;
  position: relative;
}

.category-description-button {
  width: 150px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  background-color: #4c4034;
  opacity: 1;
  border-radius: 0;
  position: absolute;
  bottom: 10px;
  padding: 10px;
  margin: 20px auto;
}

.category-description-button:hover {
  background-color: #251d19;
  opacity: 1;
}


//Products Loop

body.woocommerce-page ul.products {
  float: right;
  max-width: 900px;
  clear: inherit;
}

p.woocommerce-result-count {
  float: left;
  clear: both;
}

body.woocommerce-page ul.products li.product {
  width: 30.5%;
}

body.woocommerce-page ul.products li.product a img {
  height: 200px;
}

//Product Images

body.woocommerce-page ul.products li.product a img {
  border: none;
}

body.woocommerce-page ul.products {
  border-bottom: none;
}

//Description After Product Loop

.description_after_product_loop {
  clear: both;
  text-align: center;
  border-bottom: 1px solid #d8dbdc;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1150px) {

  .shop-sidebar {
    display: none;
  }

  .category-hero {
    float: none;
    margin: 0 auto 20px;
  }

  body.woocommerce-page ul.products {
    float: none;
    max-width: 900px;
    clear: inherit;
    margin: auto;
  }

}