h1.product_title.entry-title {
  font-size: 22px;
}

.woocommerce-breadcrumb {
  margin: 1em 0 2em;
  font-family: 'Playfair Display', serif;
}

td.label {

}

.woocommerce div.product {
  margin-bottom: 0;
  position: relative;
  float: right;
  max-width: 900px;
}

.sidebar-primary {
  float: left;
  max-width: 200px;
}

// Resize Single Product Image and Description boxes

body.woocommerce-page #content div.product div.images, body.woocommerce-page div.product div.images {
  width: 49%;
}

body.woocommerce-page #content div.product div.summary, body.woocommerce-page div.product div.summary {
  width: 50%;
}

body.woocommerce-page div.product div.images img, body.woocommerce-page #content div.product div.images img {
  border: none;
}

.woocommerce div.product form.cart table td {
  padding: 0;
}

.social-compare-wishlist-section {
  text-align: center;
  margin: 0 20px;
  margin-top: 30px;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;

  .social-share-text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
  }

  .fa {
    margin: 10px;
    font-size: 20px;
  }
}

.compare_and_wishlist_buttons {
  text-align: center;
  margin: 0 20px;
  padding: 10px;
  border-bottom: 1px solid #aaaaaa;

  a.compare.button {
    background-color: #333333;
  }
}

#product-description-accordion {
  margin-top: 60px;
}

.single-product-custom-fields-titles {
  border-top: 1px solid #333333;
  //border-bottom: 1px solid #333333;
  padding: 10px 0;
  margin: 5px;

  h3 {
    font-size: 13px;
    margin-bottom: 0;
  }
}

.fa-float-right {
  float: right;
}

body.woocommerce-page button.button.alt, body.woocommerce-page input.button.alt, body.woocommerce-page #respond input#submit.alt, body.woocommerce-page #content input.button.alt {
  background-color: #333333;
  padding: 10px 20px;
}

.woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover {
  background-color: #777777 !important;
}

.product_meta {
  display: none;
}

#upsell-product-space {
  clear: both;
  text-align: center;
  width: 1100px;

  ul.products {
    float: none;
    margin: 0 auto;

    li {
      width: 29%;
    }
  }
}

.you-may-also-like-section {
  text-align: center;
  clear: both;

  .you-may-also-like-items {
    @include outer-container;

    .you-may-also-like-item {
      @include span-columns(4);
      margin: 0;

      .you-may-also-like-images {
        height: 200px;
        width: 250px;
      }
    }

  }
}

div.woocommerce-tabs.wc-tabs-wrapper {
  display: none;
}

@media only screen and (max-width: 1025px) {

}

@media only screen and (max-width: 800px) {

  #upsell-product-space {
    width: 100%;
    padding: 0 40px;

    li.product.type-product {
      width: 45%;
    }

  }

  div.you-may-also-like-items {
    padding: 0 40px;
  }

  .you-may-also-like-section .you-may-also-like-items .you-may-also-like-item {
    width: 50%;
    margin: 0;
  }

}

@media only screen and (max-width: 699px) {

  body.woocommerce-page #content div.product div.images, body.woocommerce-page div.product div.images {
    width: 100%;
  }

  body.woocommerce-page #content div.product div.summary, body.woocommerce-page div.product div.summary {
    width: 100%;
  }

  #upsell-product-space {
    width: 100%;

    ul.products {
      li.product.type-product {
        width: 100%;
      }
    }
  }

  .you-may-also-like-section .you-may-also-like-items .you-may-also-like-item {
    width: 100%;
    margin: 0;
  }

}