body.woocommerce-page div.product .product_title, body.woocommerce-page #content div.product .product_title {
  font-size: 22px;
  letter-spacing: 1.5px;
}

.woocommerce-breadcrumb {
  margin: 1em 0 !important;
  font-family: 'Playfair Display', serif;
  display: inline-block;
}

.back-history {
  float: right;
  font-family: "Playfair Display", serif;
  margin: 1em 0;
  font-size: .92em;
  color: #777;
}


.woocommerce div.product {
  margin-bottom: 0;
  position: relative;
  float: right;
  max-width: 900px;
}

.sidebar-primary {
  float: left;
  max-width: 200px;
}

.shop-sidebar {
  margin-bottom: 20px;
}

div.menu-useful-links-container {
  font-family: "Playfair Display", serif;
}

// Resize Single Product Image and Description boxes

body.woocommerce-page #content div.product div.images, body.woocommerce-page div.product div.images {
  width: 49%;
}

body.woocommerce-page #content div.product div.summary, body.woocommerce-page div.product div.summary {
  width: 50%;
}

body.woocommerce-page div.product div.images img, body.woocommerce-page #content div.product div.images img {
  border: none;
}

.woocommerce div.product form.cart table td {
  padding: 0;
}

.yith_magnifier_gallery {
  .yith_magnifier_thumbnail {
    width: 75px !important;
    margin: 0 10px;
  }
}

.social-compare-wishlist-section {
  text-align: center;
  margin: 0 20px;
  margin-top: 30px;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;

  .social-share-text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
  }

  .fa {
    margin: 10px;
    font-size: 20px;
  }

  .fa-facebook {
    color: #43609C;
  }

  .fa-twitter {
    color: #55ACEE;
  }

  .fa-pinterest {
    color: #BB0F23;
  }

  .fa-google-plus {
    color: #EA4335;
  }
}

//Add to cart section
.variations_form.cart {
  margin-bottom: 20px !important;
  padding-top: 20px;
  border-top: 1px solid #dddddd;
}

//body.woocommerce-page div.product form.cart .variations, body.woocommerce-page #content div.product form.cart .variations {
//  margin-bottom: .75em;
//}

.woocommerce div.product form.cart .variations td.label {
  width: 165px;
}

tr.spacer {
  height: 15px;
}

td.value {
  border: 1px solid #dddddd !important;
  width: 270px;
  height: 11px;
  padding: 0 !important;
}

.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
  line-height: 1em !important;
}

.woocommerce div.product form.cart .variations {

  td.value {

    position: relative;

    select {
      -moz-appearance: none;
      -webkit-appearance: none;
      font-family: "Playfair Display", serif;
      min-width: 100% !important;
      background: none;
      border: none;
      margin-bottom: 0 !important;
    }

    &:before {
      content: '\f107';
      font-family: 'FontAwesome';
      height: 20px;
      width: 20px;
      position: absolute;
      right: 7px;
      @include calc(top, '50% - 10px');
      font-size: 1.4em;
      line-height: 1;
      text-align: center;
      z-index: 10;

    }
  }
}

div.single_variation_wrap {
  div.woocommerce-variation-add-to-cart.variations_button {
    div.quantity {
      float: right !important;
      margin-right: 0 !important;
    }
  }
}

form.cart {
  div.quantity {
    float: right !important;
    margin-right: 0 !important;
  }
}

.compare_and_wishlist_buttons {
  text-align: center;
  margin: 0 20px;
  padding: 10px;
  //border-bottom: 1px solid #aaaaaa;
}

a.compare.button {
  font-size: 16px !important;
  text-transform: none !important;
  background-color: #333 !important;
  margin-left: 5px !important;
  padding: 10px 26px !important;
}

a.compare.button:hover {
  background-color: #ffffff !important;
  color: #333 !important;
  border: 1px solid #333 !important;
}

div#wl-wrapper {
  //clear: none !important;
  padding: 0 !important;

  a.wl-add-to.wl-add-but.button {
    font-size: 15px !important;
    text-transform: none !important;
    background-color: #20221d !important;
    float: right !important;
    margin-left: 5px !important;
    margin-right: 0;
    padding: 10px 26px !important;
    font-family: "Playfair Display", serif !important;
    height: 36px;
  }

  a.wl-add-to.wl-add-but.button:hover {
    background-color: #ffffff !important;
    color: #333 !important;
    border: 1px solid #333 !important;
  }

  a.wl-add-to.wl-add-but.button.disabled {
    color: #ffffff;
    background-color: #777777 !important;
  }
}

a.reset_variations {
  display: none !important;
}

.woocommerce div.product form.cart .variations label {
  font-weight: 400 !important;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}

#product-description-accordion {
  margin-top: 20px;
  //border: 1px solid #333333;
  //border-top: none;
}

.single-product-custom-fields-titles {
  border-top: 1px solid #333333;
  //border-bottom: 1px solid #333333;
  padding: 10px 5px;
  margin: 5px;

  h3 {
    font-size: 13px;
    margin-bottom: 0;
    letter-spacing: 1.5px;
  }
}

#make-selection-text {
  text-align: center;
  padding: 10px 20px;
  background-color: #eee;
  margin-bottom: 5px;
  border-bottom: 2px solid #157ec2;
  font-family: "Playfair Display", serif;

  .fa-info-circle {
    color: #157EC2;
  }
}

.knowledgeable-team-container {
  background-color: #eeeeee;
  border-bottom: 1px solid #cccccc;
  padding: 5px 20px;
  text-align: center;
  font-size: 18px;

  .knowledgeable-team-phone {
    margin-right: 10px;
  }

  .fa-envelope {
    margin-left: 10px;
  }
}

.single-product-custom-fields {
  padding: 5px;
}

.fa-float-right {
  float: right;
}

body.woocommerce-page button.button.alt, body.woocommerce-page input.button.alt, body.woocommerce-page #respond input#submit.alt, body.woocommerce-page #content input.button.alt {
  background-color: #F0592A;
  padding: 5.5px 20px;
  float: right !important;
  margin-right: 13px;
  font-size: 25px;
}

.woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover {
  background-color: #777777 !important;
}

.product_meta {
  display: none;
}

#upsell-product-space {
  clear: both;
  text-align: center;
  width: 1100px;
  border-top: 5px double #dddddd;
  position: relative;
  padding-top: 40px;
  margin: 0 auto;

  h2 {
    font-size: 24px;
    font-weight: 400;
    top: -30px;
    position: absolute;
    background: white;
    margin: 0 37%;
    padding: 15px;
  }
  ul.products {
    float: none;
    margin: 0 auto;

    li {
      width: 294px;

      h3 {
        font-family: "Playfair Display", serif;
      }
    }
  }
}

.you-may-also-like-section {
  text-align: center;
  clear: both;
  border-top: 5px double #dddddd;
  position: relative;
  padding-top: 40px;
  margin-bottom: 10px;

  h2 {
    font-size: 24px;
    font-weight: 400;
    top: -30px;
    position: absolute;
    background: white;
    margin: 0 32%;
    padding: 15px;
  }

  .you-may-also-like-items {
    @include outer-container;

    .you-may-also-like-item {
      @include span-columns(4);
      //margin: 0;
      //width: 294px; for three columns
      width: 24.5%;
      margin-right: .5%;

      .you-may-also-like-images {
        height: 255px;
        width: 100%;
      }

      h3 {
        letter-spacing: 1px;
      }
    }

    a:first-child > .you-may-also-like-item {
      //margin-left: 104px; for three columns
      //margin-right: 7px; for three columns
      //margin-right: 5px;
    }

    a:nth-child(2) > .you-may-also-like-item {
      //margin-right: 4.5px;
    }

  }
}

//Take out if 4 columns is not needed
.you-may-also-like-section .you-may-also-like-items .you-may-also-like-item:last-child {
  margin-right: 5.5px;
}

div.woocommerce-tabs.wc-tabs-wrapper {
  display: none;
}

@media only screen and (max-width: 1025px) {

}

@media only screen and (max-width: 800px) {

  #upsell-product-space {
    width: 100%;
    padding: 0 40px;

    li.product.type-product {
      width: 45%;
    }

  }

  div.you-may-also-like-items {
    padding: 0 40px;
  }

  .you-may-also-like-section .you-may-also-like-items .you-may-also-like-item {
    width: 50%;
    margin: 0 !important;
  }

  #upsell-product-space,
  div.you-may-also-like-section {

    padding-top: 40px;
    top: 0;

    border-top: none;

    h2 {
      position: relative;
      width: 280px;;
      margin: 0 auto;
      border-bottom: 5px double #dddddd;
    }

  }

  td.value {
    width: 100%;
  }

}

@media only screen and (max-width: 699px) {

  body.woocommerce-page #content div.product div.images, body.woocommerce-page div.product div.images {
    width: 100%;
  }

  body.woocommerce-page #content div.product div.summary, body.woocommerce-page div.product div.summary {
    width: 100%;
  }

  .woocommerce div.product form.cart .variations {

    td.value {
      width: 143px;

      select {
        padding-left: 2px;
        height: 50px;
      }

      &:before {
        right: 0;
      }
    }
  }

  #upsell-product-space {
    width: 100%;

    ul.products {
      li.product.type-product {
        width: 100%;
      }
    }
  }

  .you-may-also-like-section .you-may-also-like-items .you-may-also-like-item {
    width: 100%;
    margin: 0;
  }

  div.woocommerce-variation-add-to-cart.variations_button {
    text-align: center;
    //padding: 0 40px;
    float: left;
  }

  div#wl-wrapper a.wl-add-to.wl-add-but.button {
    float: left !important;
    margin-left: 0 !important;
  }

  form.variations_form.cart {
    a.compare.button {
      float: left !important;
      margin-top: 10px;
      margin-left: 0!important;
    }
  }

}

@media only screen and (max-width: 325px) {
  div.woocommerce-variation-add-to-cart.variations_button {
    text-align: center;
    padding: 0 15px;
  }
}




.add-to-wishlist-popup {
  //display:none;
  content: "Thisthisthis";
  position:absolute;
  border:1px solid #000;
  background-color: #333;
  width:400px;
  height:400px;
  top: 200px;
  left: 400px;
  z-index: 99999999;
}