.woocommerce div.product {
  margin-bottom: 0;
  position: relative;
  float: right;
  max-width: 900px;
}

.sidebar-primary {
  float: left;
  max-width: 200px;
}

// Resize Single Product Image and Description boxes

body.woocommerce-page #content div.product div.images, body.woocommerce-page div.product div.images {
  width: 49%;
}

body.woocommerce-page #content div.product div.summary, body.woocommerce-page div.product div.summary {
  width: 50%;
}

body.woocommerce-page div.product div.images img, body.woocommerce-page #content div.product div.images img {
  border: none;
}

.social-compare-wishlist-section {
  text-align: center;
  margin: 0 20px;
  margin-top: 30px;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;

  .social-share-text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
  }

  .fa {
    margin: 10px;
  }
}

.compare_and_wishlist_buttons {
  text-align: center;
  margin: 0 20px;
  padding: 10px;
  border-bottom: 1px solid #aaaaaa;

  a.compare.button {
    background-color: #333333;
  }
}

#product-description-accordion {
  margin-top: 60px;
}

.single-product-custom-fields-titles {
  border-top: 1px solid #333333;
  //border-bottom: 1px solid #333333;
  padding: 10px 0;
  margin: 5px;
}

.fa-float-right  {
  float: right;
}

body.woocommerce-page button.button.alt, body.woocommerce-page input.button.alt, body.woocommerce-page #respond input#submit.alt, body.woocommerce-page #content input.button.alt {
  background-color: #333333;
  padding: 10px 20px;
}

.woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover {
  background-color: #777777 !important;
}

#upsell-product-space {
  clear: both;
  text-align: center;
  width: 1100px;

  ul.products {
    float: none;
    margin: 0 auto;

    li {
      width: 29%;
    }
  }
}

.you-may-also-like-section {
  text-align: center;
  clear: both;

  .you-may-also-like-items {
    @include outer-container;

    .you-may-also-like-item {
      @include span-columns(3);
      margin: 0 5px;

      .you-may-also-like-images {
        height: 200px;
        width: 250px;
      }
    }

  }
}




div.woocommerce-tabs.wc-tabs-wrapper {
  display: none;
}
