.content .entry-title {
  text-align: center;
}

.materials-page-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}

.entry {
  margin-bottom: 1em;
}

.materials-page-repeater-outer {
  @include outer-container;
  $mobile: new-breakpoint(max-width 1050px 12);
  text-align: left;
  //max-width: 100%;
  //display: flex;
  //flex-wrap: wrap;

  .materials-page-repeater-inner-2-col {
    @include span-columns(6);
    max-width: 543px;
    margin: 0;
    margin-bottom: 25px;

    @include media($mobile) {
      @include span-columns(12);
      max-width: 1000px;
      margin: 0;
      padding: 0 10px;
    }

    a > img {
      width: 100%;
    }

    button {
      background-color: #333333;
      border-radius: 0;
      font-family: 'Playfair Display', serif;
    }

    h3 {
      margin: 0.75em 0 !important;
      font-size: 17px;
    }
  }

  .materials-page-repeater-inner-2-col:nth-of-type(2n+1) {
    margin-left: 0;
    margin-right: 11px;
    clear: left;
  }

  .materials-page-repeater-inner-2-col:nth-of-type(2n+2) {
    margin-left: 0;
    margin-right: 11px;
  }

  .materials-page-repeater-inner-3-col {
    @include span-columns(4);
    //max-width: 350px;
    //margin: 0;
    //@include omega(4n);
    //flex: 1;
    margin-bottom: 25px;
    width: 30%;

    a > img {
      width: 99%;
    }

    @include media($mobile) {
      @include span-columns(12);
      max-width: 1000px;
      margin: 0;
      padding: 0 10px;
    }

    button {
      background-color: #333333;
      border-radius: 0;
      font-family: 'Playfair Display', serif;
    }

    h3 {
      margin: 0.75em 0 !important;
      font-size: 17px;
    }
  }

  .materials-page-repeater-inner-3-col:nth-of-type(3n+1) {
    margin-left: 0;
    margin-right: 10px;
    clear: left;
  }

  .materials-page-repeater-inner-3-col:nth-of-type(3n+2) {
    margin-left: 45px;
    margin-right: 45px;
  }

  .materials-page-repeater-inner-3-col:nth-of-type(3n+3) {
    margin-left: 10px;
    margin-right: 0;
  }

  .materials-page-repeater-inner-4-col {
    @include span-columns(3);
    max-width: 100%;
    width: 24.27%;
    margin-bottom: 25px;

    @include media($mobile) {
      @include span-columns(12);
      max-width: 1000px;
      margin: 0;
      padding: 0 10px;
    }

    button {
      background-color: #333333;
      border-radius: 0;
      font-family: 'Playfair Display', serif;
    }

    h3 {
      margin: 0.75em 0 !important;
      font-size: 17px;
    }
  }

  .materials-page-repeater-inner-4-col:nth-of-type(4n+1) {
    clear: left;
  }

}

.materials-column-page-clearfix {
  clear: both;
  float: left;
  width: 100%;
  border-top: 1px solid #eeeeee;
  margin-bottom: 10px;
}

@media only screen and (max-width: 699px) {

  .materials-column-page-clearfix {
    border-top: none;
    margin-bottom: 0;
  }

  .materials-page-repeater-inner-3-col:nth-of-type(3n+1) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .materials-page-repeater-inner-3-col:nth-of-type(3n+2) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .materials-page-repeater-inner-3-col:nth-of-type(3n+3) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .materials-page-repeater-inner-2-col:nth-of-type(2n+1) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .materials-page-repeater-inner-2-col:nth-of-type(2n+2) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}