.site-footer {
  background-color: #aaaaaa;
  color: #fff;
}



.footer-social-icons {
  border-top: 1px solid #aaaaaa;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;

  .footer-follow-us {
    font-weight: 700;
    color: #aaaaaa;
  }

  .fa {
    color: #aaaaaa;
    margin: 0 10px;
    font-size: 26px;
  }

  .fa:hover {
    color: #777777;
    margin: 0 10px;
    font-size: 26px;
  }
}

.footer-follow-us {

}