.site-footer {
  background-color: #aaaaaa;
  color: #fff;
}

.footer-widgets {
  padding: 25px;
}

.footer-social-icons {
  text-transform: uppercase;
  padding: 20px;
  text-align: center;

  .footer-follow-us {
    font-weight: 700;
    color: #aaaaaa;
  }

  .fa {
    color: #aaaaaa;
    margin: 0 10px;
    font-size: 26px;
  }

  .fa:hover {
    color: #777777;
    margin: 0 10px;
    font-size: 26px;
  }
}

.footer-widgets li {
  border-bottom: 0;
  margin-bottom: 0;
  font-size: 14px;
}

h4.widgettitle.widget-title {
  margin: 0;
}

.footer-widgets .widget-tile {
  margin-bottom: 0;
}

div.footer-widgets-1,
div.footer-widgets-2,
div.footer-widgets-3 {

  section.widget.widget_nav_menu {

    margin-top: 0;
    margin-bottom: 0;

    div.widget-wrap {

      h4.widgettitle.widget-title {
        padding: 0;
        background-color: #eaecec;
        border: none;
      }
    }
  }
}
